@fontSmall: 0.9rem;
@fontLarge: 1.1rem;

@padding: 20px;

@colorBorder: rgba(0, 0, 0, 0.1); // #DDDDDD
@colorBorderHover: rgba(0, 0, 0, 0.2); // #C2C2C2
@colorPrimary: rgba(75, 81, 85, 1); // #4B5155
@colorSecondary: rgba(75, 81, 85, 0.6); // #939799

@transition: 300ms ease-in-out;

.team-card {
    &--small {
        @width: 204px;

        .card();
        .team();
        .hover();
        .overrides();
        .imageOverrides();
    }

    &--large {
        @width: 280px;

        .card();
        .team();
        .hover();
        .overrides();
        .imageOverrides();
    }
}

.card() {
    width: @width;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid @colorBorder;
    border-radius: 2px;
    margin: 20px auto;
    box-shadow: none;
    transition: border @transition, box-shadow @transition;
    background: #FFFFFF;
}

.hover() {
    &:hover {
        border: 1px solid @colorBorderHover;
        box-shadow: 0 4px 8px 0 @colorBorder;
        transition: border @transition, box-shadow @transition;
    }
}

.round_container img {
  border-radius: 50%;
}

// override Weebly default style
.overrides() {
    .paragraph {
        margin: 0 !important;
        line-height: inherit;
    }
}

// override Weebly default style
.imageOverrides() {
    .wsite-initial-image .element-box {
        box-shadow: none !important;
    }

    .wsite-image {
        padding: 0px !important;
    }

    .pic {
        // allows for scaling when resizing image to be circular
        .inside, .element-box, .element-box-contents, .element, .wsite-image, .ui-wrapper, a {
            height: @width !important;
            width: 100% !important;
        }

        // fix on mobile
        .platform-element-child, .wsite-image {
            margin: 0!important;
        }
    }
}
